ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
}

/* UTILITY */
.bg-color-1{
    background-color:  rgb(247, 249, 250);
}

.bg-color-2{
    background-color: #e6e6e6
}

/* NAV */
header{
    height: 90px;
    border: 1px solid lime;
}

header nav{
    height: 70px;
}



