ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

main{
    height: calc(100% - 90px);
}

/* UTILITY */
.bg-color-1{
    background-color:  rgb(247, 249, 250);
}

.bg-color-2{
    background-color: #e6e6e6
}

.bg-color-3{
    background-color: #1c71e8;
}

/* NAV */
header{
    height: 90px;
}

header nav{
    height: 70px;
}

/* SIDEBAR */
 .sidebar{
    background-image: url(./img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-color: #051e33;

    width: 80px;
}


/* MAIN CONTENT */
.main-content{
    width: calc(100% - 80px);
    overflow: auto; 
}

/* TOPBAR */
.topbar{
    height: 270px;
}


/******** MEDIA *********/
@media screen and (min-width: 992px) {
    .sidebar{    
        width: 180px;
    }

    .main-content{
        width: calc(100% - 180px); 
    }

}

@media screen and (min-width: 768px) {
    .topbar{
        height: 150px;
    }
}

